@import 'tailwindcss';

@theme {
  --breakpoint-xs: 20rem;
  --font-knewave: 'Knewave';
  --color-primary: #fd7e14;
  --color-secondary: #858585;
  --color-pink-bg: #fdc3dc;
  --color-dark-bg: rgba(0, 0, 0, 0.9);
}

body {
  background-color: #fffbdc;
}
